In [1]:
import pandas as pd
import numpy as np
import locale

# locale.setlocale(locale.LC_ALL, 'en-US')

# declare path for US Census file
census_file = "DataSets/ACS_14_1YR_S1701_with_ann.csv"

# declare path for behavorial risk file
risk_file = "DataSets/BRFSS_2014_Overall.csv"

#open files
census_pd = pd.read_csv(census_file)
risk_pd = pd.read_csv(risk_file)


print(census_pd.columns)

print(risk_pd.columns)

# Rename columns for readability
renamed_census_pd = census_pd.rename(columns={
    "GEO.id2": "id",
    "GEO.display-label": "state",
    "HC03_EST_VC01": "poverty"
})


renamed_risk_pd = risk_pd.rename(columns={
    "Locationabbr": "abbr",
    "Locationdesc": "state",
    "Data_value": "healthcare"
})

renamed_census_pd.drop([0], inplace=True)

census_df = pd.DataFrame(renamed_census_pd[['id','state','poverty']])
risk_df = pd.DataFrame(renamed_risk_pd[['abbr','state','healthcare']])

Index(['GEO.id', 'GEO.id2', 'GEO.display-label', 'HC01_EST_VC01',
       'HC01_MOE_VC01', 'HC02_EST_VC01', 'HC02_MOE_VC01', 'HC03_EST_VC01',
       'HC03_MOE_VC01', 'HC01_EST_VC03',
       ...
       'HC02_EST_VC62', 'HC02_MOE_VC62', 'HC03_EST_VC62', 'HC03_MOE_VC62',
       'HC01_EST_VC65', 'HC01_MOE_VC65', 'HC02_EST_VC65', 'HC02_MOE_VC65',
       'HC03_EST_VC65', 'HC03_MOE_VC65'],
      dtype='object', length=279)
Index(['Year', 'Locationabbr', 'Locationdesc', 'Class', 'Topic', 'Question',
       'Response', 'Break_Out', 'Break_Out_Category', 'Sample_Size',
       'Data_value', 'Confidence_limit_Low', 'Confidence_limit_High',
       'Display_order', 'Data_value_unit', 'Data_value_type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'DataSource',
       'ClassId', 'TopicId', 'LocationID', 'BreakoutID', 'BreakOutCategoryID',
       'QuestionID', 'ResponseID', 'GeoLocation'],
      dtype='object')

In [2]:
census_df.head()

   id       state poverty
1  01     Alabama    19.3
2  02      Alaska    11.2
3  04     Arizona    18.2
4  05    Arkansas    18.9
5  06  California    16.4

In [3]:
risk_df.head()

  abbr       state  healthcare
0   AL     Alabama        13.9
1   AK      Alaska        15.0
2   AZ     Arizona        14.4
3   AR    Arkansas        16.3
4   CA  California        14.8

In [4]:
merged_pd = census_df.merge(risk_df, on='state', how='inner')
merged_pd.to_csv("DataSets/mergeddata.csv",index=False)